server {
    listen       80;
    server_name  localhost;
    return 301 https://$server_name$request_uri;

}

server {
    listen 443 ssl;
    server_name localhost;


    ssl_certificate /etc/nginx/ssl/labs-monitor-blr.pem;
    ssl_certificate_key /etc/nginx/ssl/labs-monitor-blr.key;

    location / {
        proxy_pass http://localhost:{{ proxy_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
       
    }

     #location / {
      #      root /var/www/nginx/index.html;  
       #     index index.html index.htm;
        #}

    #error_page  404              /404.html;
}

